/*customizations specific for the SV-app*/

/*wordpress display, begin*/
section.single-work div.single-work__sidebar h2 {
  font-size:1.2rem;
}

section.single-work div.single-work__content h2 {
  font-size:1.7rem;
}

section.single-work h1 {
  font-size:2rem;
}

section.single-work h1 {
  font-size:2rem;
}


/*sidebar*/
a.single-work-button {
  display:none;
}
/*switch off download-buttons in WordPress*/

/*div[class^="tei-titleStmt"]{
     display: none;
}*/
/*wordpress display, end*/

p[class~="firstIndent"]{
		 text-indent:1rem;
}
/*first-indent for prose only*/

p[class*="firstIndent"][class^="tei-l"] {
    margin-left: 2rem;
}
/*first-indent for verse*/

div[class^="tei-standOff"], div[class^="popovers"] {
    display: none;
}

p[class^="tei-signed"], p[class^="tei-l"], p[class^="tei-salute"], div[class^="tei-dateline"]{
margin-top:auto;
margin-bottom:auto;
}

*[class^="tei-note"]:not(.note-editor,.transcript), *[id^="fn-number"]{
font-size: 0.6rem;
vertical-align: super;
}



*[class~="center"]{
     text-align: center;
}



*[class~="right"], p[class^="right"] {
     text-align: right;
}



div[class^="tei-lg"] *[class*="tei-head"] {
     margin-left: 3rem;
margin-bottom: 0rem;
}
/* 2024-09-10 removed
 * margin-top: -2rem;
*/

div[class^="footnotes"]{
margin-top: 9rem;
border-top: black solid 1px;
}

div[class^="tei-lg"]{
max-width: 30rem;
min-width: fit-content;
margin-bottom: 1rem;
}

div[class^="center"]{
     text-align: center;
}

p[class^="tei-l"]{
max-width: 30rem;
min-width: fit-content;
}


div *[class*="tei-head"] {
     margin-bottom: auto;
     margin-top: auto;
         
}


/*div[class^="tei-lg"] *[class*="tei-head"]:first-child {
          margin-top: 1rem;
          
}*/


/*header spacing: before
 * color:brown;*/
 *[class*="tei-head"]:first-child{
     margin-top:2rem;

}
*[class="toc"] [class*="tei-head"]{
     text-align: left;
margin-top:-2rem;
}


/*header spacing: after
 * color:brown;*/
*[class*="tei-head"] + *:not([class*="tei-head"]) {
          margin-top: 2rem;
          
}


*[class*="standardSize"]{
font-size:1rem;     
}

/* used by paragraphs output from notes */
 .note-p {
     display: block;
 }

 /* used by paragraphs output from notes, first paragraph in a note inlined */
 .note-p:first-child {
     display: inline;
 }

 /* distinguish authorial notes (from note) from editorial (in seg) */
 .note-author {
     font-weight: bolder;
 }
 .note-author:before {
     content: '* ';
 }

 /* unison sections */
 .seg-unison {
     display: block;
     vertical-align: middle;
 }

 .choice-unison {
     display: inline-block;
     vertical-align: middle;
     padding-left: 0.5rem;
     border-left: 2px solid black;
     border-bottom-left-radius: 8px;
     border-top-left-radius: 8px;

     padding-right: 0.5rem;
     border-right: 2px solid black;
     border-bottom-right-radius: 8px;
     border-top-right-radius: 8px;
 }

 .sp-unison {
     display: grid;
     grid-template-columns: auto 1fr;
 }

 .unison-left {
     writing-mode: vertical-lr;
     text-orientation: upright;
     vertical-align: middle;
     
 }

 .unison-right {
     padding-left: 0.5rem;
     border-left: 2px solid black;
     border-top-left-radius: 8px;
     border-bottom-left-radius: 8px;
 }

/*castGroup sections*/

.choice-role {
  display: inline-block;
  vertical-align: middle;
  border-right: 2px solid black;
  padding-right: 1vw;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.choice-actor {
  display: inline-block;
  vertical-align: middle;
  border-left: 2px solid black;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  min-width:max-content;
  padding-left: 1vw;
 }

/*front*/
.performance {
  font-size: small;
  text-align: left;
}


/*div[class="tei-epigraph"] p{
     max-width: 40vw;
}
*/



/* general values for @rend */
 
*[class$="secondIndent"]{
text-indent: 3rem;
}

*[class$="secondIndentRight"]{
     margin-right: 3rem;
     text-align: right;
     }

*[class$="firstIndentRight"]{
          margin-right: 1rem;
          text-align: right;
     }

p[class$="thirdIndent"]{
margin-left: 5rem;
}

div[class$="thirdIndent"]{
margin-left: 4rem;
}

   
/*front BEGINS*/
section + h1[class^="tei-titlePart"]{
     margin-top:5rem;
}
/*front BEGINS*/


  
/* 
 * 
 * 
 */



/*
 * transferred from css to ODD 2024-04-19
 * p[class^="tei-p"]{
margin-top:auto;
margin-bottom:auto;
}

div[class^="tei-floatingText"]{
     margin-top: 2rem;
 margin-bottom: 2rem;
 }
p[class^="tei-lg"]{
     
margin-bottom:1rem;
}*/

/* illustrations in text */
.illustration {
    display: block;
    margin: 1rem auto;
max-width:40rem;
}
/*    max-width: 35rem;*/

.bold{
     font-weight: bold;
}

.underline{
     text-decoration-line: underline;
}

.firstIndentRight {margin-right:1rem;
text-align:right;}
