body {
    --pb-view-max-width: 70vw;
    --pb-view-height: 70vh;
}

#view1 {
    height: var(--pb-view-height);
    overflow: auto;
}

.content-body {
    position: relative;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-column-gap: 5px;
    padding: 0 20px;
}

.content-body pb-facsimile {
    height: var(--pb-view-height);
}