body {
   
}

#view1 {
    height: var(--pb-view-height);
    overflow: auto;
}

.content-body {
    position: relative;
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-column-gap: 0px;
    padding: 0 4px;
   
}

.content-body pb-facsimile {
    height: calc(100vh - 160px);
}

.content-body pb-view {
  
}

pb-view {
  max-width: 100vw;
}