.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.col1,
.col2 {
    position: relative;
}

.layers {
    display: none;
}

.container2 {
color: rgba(0, 0, 0, 0.5);
}

.layer {
    display: inline-block;
    background-color: #bbfbfc;
    
}
.container {
    border: 1px solid #808080;
    padding-left: 30px;
}

.container-button {
   display: inline-block;
   margin-top: 0px;
   margin-left: -30px;
   background-color: #bbfbfc;
}

.app {
    color: gray;
}

.note .app {
    color: white;
}

.unclear {
    text-decoration: underline dotted;
}

.del {text-decoration: line-through solid 1px;}


.toggle {
    display: none;
}