.content {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-column-gap: 10px;
}

.col1,
.col2 {
    position: relative;
}

.layers {
    display: none;
}

.container2 {
color: rgba(0, 0, 0, 0.5);
}

.layer {
    display: inline-block;
    background-color: #bbfbfc;
    
}
.container {
    border: 1px solid #808080;
    padding-left: 30px;
}

.container-button {
   display: inline-block;
   margin-top: 0px;
   margin-left: -30px;
   background-color: #bbfbfc;
}

.app {
    color: gray;
}

.note .app {
    color: white;
}

.unclear {
    text-decoration: underline dotted;
}

.del {text-decoration: line-through solid 1px;}

.how.toggle.add {
    vertical-align: super;
}

.how.add {
    vertical-align: auto;
}

.how.toggle.del {
    text-decoration: line-through solid 1px;
}

.how.del {
    text-decoration: none;
}

.lines.toggle {
    display: inline;
}

.lines {
    display: none;
}

.when.toggle {
    display: inline;
}

.when {
    display:none;
}

.gen {
    font-style: italic;
}

.gen::after {
    content: ' → '; 
}

.gen::before {
    content: ' ';
}
.add {
    color: green;
}

.rdg {
    color: #2c2c8f;
}

.lem {
    color: #206420;
}

.supplied {
    display: inline-block;
    border: 1px dotted;
}

.retrace {
    font-weight: 600;
}

.underline {
    text-decoration: underline;
}

.note-label {
    vertical-align: super;
    font-size: smaller;
}

span[slot=alternate] .deleted {
    border-bottom: none;
    background-image: none;
}

span[slot=alternate] .added {
    border-bottom: none;
    background-image: none;
    background-color: inherit;
}

.deleted {
    border-bottom: 1px solid red;
    background-image: url('../images/delSpan.gif');
}

.added {
    background-color: #dbd9d9;
    border-bottom: 1px solid red;
}